* {
    font-family: UniversCondensed;
}

body {
    background-color: #000000;
    color: #FFFFFF;
    margin-top: 40px;
    margin-left: 40px;
}

input {
    outline-color: #FFFFFF;
    color: #FFFFFF;
    background-color: #000000;
    width: 400px;
    height: 26px;
    border: 1px solid white;
}

button {
    background-color: #000000;
    color: #FFFFFF;
    width: 120px;
    height: 30px;
    border: 1px solid white;
    margin-left: 10px;
}