* {
    font-family: UniversCondensed;
}

body {
    background-color: #000000;
    color: #FFFFFF;
    margin-top: 40px;
    margin-left: 40px;
}

input {
    outline-color: #FFFFFF;
    color: #FFFFFF;
    background-color: #000000;
    width: 400px;
    height: 26px;
    border: 1px solid white;
    margin-right: 10px;
}

button {
    background-color: #000000;
    color: #FFFFFF;
    width: 120px;
    height: 30px;
    border: 1px solid white;
    transition: all .25s ease 0s;
    -moz-transition: all .25s ease 0s;
    -webkit-transition: all .25s ease 0s;
    -o-transition: all .25s ease 0s;
}

button:hover:enabled {
    background-color: #FFFFFF;
    color: #000000;
}

button:disabled {
    color: #777777;
    border-color: #777777;
}