{ 
  "parser"  : "babel-eslint",
  "extends" : "airbnb-base",
  "plugins": [
    "react"
  ],
  "rules"   : {
    "max-len": "off",
    "no-console": "off",
    "no-await-in-loop": "off",
    "no-restricted-syntax": "off",
    "object-curly-newline": ["error", { "multiline": true } ],
    "react/jsx-uses-vars" : ["error"],
    "react/jsx-uses-react": ["error"]
  },
  "env"     : {
    "browser": true
  }
}