@font-face {
    font-family: 'UniversCondensed';
    src: local('UniversCondensed'), url(./fonts/UniversCondensed.woff) format('woff');
}

* {
    font-family: Arial;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: .05px;
    overflow-y: visible;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

html {
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.4;
}

body {
    background-color: #000000;
    color           : #FFFFFF;
    height: 100%;
    background: url("./images/background.jpeg") no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.container {
    margin: auto;
    width: 700px;
    min-width: 500px;
}

h1 {
    font-family: UniversCondensed;
    font-size-adjust: 0.5;
    font-size: 28px;
    font-weight: bolder;
    margin: 0px;
    padding-top:10px;
    padding-bottom:10px;
}

h2 {
    font-family: UniversCondensed;
    font-size-adjust: 0.5;
    font-size: 22px;
    font-weight: bolder;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #777;
    margin: 1em 0;
    padding: 0; 
    margin-top:20px;
    margin-bottom:20px;
}

.panel {
    color: #FFFFFF;
    background-color: #000000;
    margin-bottom: 40px;
}

.panel-inner-wrapper {
    padding: 40px;
}

.overlay {
    z-index: 1;
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: auto;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.5);
}

input {
    color           : #FFFFFF;
    background-color: #000000;
    width: 100%;
    height: 26px;
    border: 0;
    outline: 0;
    border-bottom: 1px solid white;
    padding-left: 10px;
    padding-right: 10px;
    font-family: UniversCondensed;
    font-size: 16px;
}

.track-progress-container {
    float: right;
    display: inline-flex;
    align-items: center; 
}

.track-message {
    color : #777777;
    float: left;
    margin-right: 10px;
}

.track-status {
    float: right;
}

.search-wrapper {
    overflow: hidden;
    padding-left: 0.5em;
    margin-right: 30px;
}

.outline {
    outline-color   : #FFFFFF;
    border: 1px solid white;
}

input:disabled {
    color       : #777777;
    border-color: #777777;
}

button {
    color: #FFFFFF;
    background-color: #000000;
    height: 30px;
    transition: all .25s ease 0s;
    outline: 0;
    border: 0;
    -moz-transition   : all .25s ease 0s;
    -webkit-transition: all .25s ease 0s;
    -o-transition     : all .25s ease 0s;
    font-family: UniversCondensed;
    font-size: 16px;
    cursor: pointer;
    font-weight: bolder;
}

button:hover:enabled {
    color: #777777;
}

button:disabled {
    color: #777777;
    border-color: #777777;
    cursor: auto;
}

.login-button {
    float: right;
    top:50%;
    transform: translate(0,50%);
    margin-right: 20px;
}

.login-button:hover:enabled {
    background-color: #000000;
    color           : #777777;
}

.search-button {
    float: left;
}

.playlist-button-wrapper {
    margin-top: 20px;
    margin-bottom:50px;
}

.playlist-button {
    float: right;
    vertical-align: middle;
    display: inline-flex;
    align-items: center; 
}

.title {
    display: inline-block;
}

.spinner {
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.control-panel {
    color: #FFFFFF;
    background-color: #000000;
    padding: 20px;
    margin-bottom: 40px;
}

.control-panel-footer {
    bottom: 0;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #777777;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #777777;
    opacity:  1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #777777;
    opacity:  1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #777777;}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #777777;}

::placeholder { /* Most modern browsers support this now. */
    color: #777777;}

.dark {
    color: #777777;
}

p {
    text-align: justify;
    text-justify: inter-word;
}

a {
    -moz-transition   : all .25s ease 0s;
    -webkit-transition: all .25s ease 0s;
    -o-transition     : all .25s ease 0s;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #777777;
    text-decoration: none;
}

.copy-button {
    padding-left: 10px;
    color: #777777;
    width: 100%;
    text-align:left;
}

.copy-button:hover:enabled {
    padding-left: 10px;
    color: white;
    background-color: #000000 !important;
}

.copy-button-text {
    padding-left: 10px;
}

.copy-alert {
    font-family: UniversCondensed;
    font-size: 16px;
    position: relative;
    color: #777777;
    text-transform: uppercase;
    float: right;
}

.login-text {
    font-family: UniversCondensed;
    font-size: 16px;
    color:    #777777;
    margin-left: 20px;
    font-size: 20px;
}

/* 
    Responsive layout stuff 
*/
.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding-left:  40px;
    padding-right: 40px;
    padding-top:   40px;
}

.col-1  { width: 8.33%;  } 
.col-2  { width: 16.66%; }
.col-3  { width: 25%;    }
.col-4  { width: 33.33%; }
.col-5  { width: 41.66%; }
.col-6  { width: 50%;    }
.col-7  { width: 58.33%; }
.col-8  { width: 66.66%; }
.col-9  { width: 75%;    }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }
.col-12 { width: 100%;   }

@media only screen and (max-width: 700px) {
    [class*="col-"] {
        width: 100%;
    }
    .container {
        width: 100%;
        min-width: 500px;
    }
}