@font-face {
    font-family: 'UniversCondensed';
    src: local('UniversCondensed'), url(./fonts/UniversCondensed.woff) format('woff');
}

* {
    font-family: UniversCondensed;
}

body {
    background-color: #000000;
    color           : #FFFFFF;
    height: 100%;
    background-image: url("./images/background.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.content {
    background-color: #000000;
    width : 800px;
    height: auto;
    border: 1px solid white;
    padding: 20px;
    margin: auto;
    margin-top: 120px;
}

.overlay {
    z-index: 1;
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: auto;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.5);
}

input {
    outline-color   : #FFFFFF;
    color           : #FFFFFF;
    background-color: #000000;
    width : 500px;
    height: 26px;
    border: 1px solid white;
    padding-left: 10px;
}

.control-panel {
    position: fixed;
    position: 100,100;
    outline-color   : #FFFFFF;
    color           : #FFFFFF;
    background-color: #000000;
    border: 1px solid white;
    padding: 20px;
    bottom: 20px;
    left: 20px;
}

form {
    margin: auto;
}

input:disabled {
    color       : #777777;
    border-color: #777777;
}

button {
    background-color: #000000;
    color           : #FFFFFF;
    width : 120px;
    height: 30px;
    border: 1px solid white;
    transition: all .25s ease 0s;
    -moz-transition   : all .25s ease 0s;
    -webkit-transition: all .25s ease 0s;
    -o-transition     : all .25s ease 0s;
}

button:hover:enabled {
    background-color: #FFFFFF;
    color           : #000000;
}

button:disabled {
    color: #777777;
    border-color: #777777;
}